<style>
.errorText {color: #D8000C;}
.panel {display: inline-block; width: 50%; vertical-align: top; padding: 10px}
</style>
<div class="container" ng-controller="categoryController">
<div class="panel">
  <div class="panel">
      <label>New Reuse Category:</label><input class="form-control" type="text" ng-model="newReuse">
      </br>
      <div class="input-group">
      <input class="form-control" type="text"
      ng-model="newReuseItem" >
      <span class="input-group-btn">
      <button  class="btn btn-info btn-default" type="button" ng-click="addItem(newReuseItem,
          newReuseItems)">Add Items</button></span>
  </div>
      </br>
      <div> Preview </div>
      <ul>
          Category Name: <span ng-bind="newReuse"></span>
          <li ng-repeat="item in newReuseItems">
          <text>{{item}}</text>
          <button class="btn btn-danger btn-xs"
              type="button" ng-click="removeItem(item,
              newReuseItems)">Remove</button>
          </li>
      </ul>
      </br>
      </br>
      </br>
      <button ng-repeat="item in newReuseItems" class="btn btn-success btn-sm"
          type="button" ng-click="removeItem(item,
          newReuseItems)" title="Remove">{{item}}</button>
      </br>
      </br>
      </br>
      <button  class="btn btn-info" ng-click="addReuse()">Save Category</button><span class="errorText">{{addReuseError.text}}</span>
  </div>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <td>Reuse Categories:</td>
    <td>Actions:</td>
  </thead>
  <tr ng-repeat="reuse in reuseCategories | orderBy:'_id'" ng-include="getReuseTemplate(reuse)">
    <script type="text/ng-template" id="display">
    <td>
      {{reuse.name}}
        <ul>
            <li ng-repeat="item in reuse.item">
                {{item}}
            </li>
        </ul>
    </td>
    <td>
      <button  class="btn btn-success" ng-click="editReuse(reuse)">Edit</button>
      <button  class="btn btn-danger" ng-click="removeReuse(reuse._id)">Delete</button>
    </td>
    </script>
    <script type="text/ng-template" id="edit">
      <td>
        <input class="form-control" type="text" ng-model="selectedReuse.name"><span class="errorText">{{editReuseError.text}}</span>

        <label>Category Items:</label>
            <input class="form-control" type="text"
            ng-model="selectedEditItem">
            <button class="btn btn-info"
            ng-click="addItem(selectedEditItem,selectedReuseItems)">Add
            Item</button>
            <button ng-repeat="item in selectedReuseItems" class"btn btn-success btn-sm" type="button" ng-click="removeItem(item,selectedReuseItems)">{{item}}</button>
      <td>
        <button  class="btn btn-success" ng-click="updateReuse(reuse._id)">Save</button>
    </script>
  </tr>
</table>
</div><div class="panel">
  <div class="panel">
      <label>New Repair Category:</label><input class="form-control" type="text" ng-model="newRepair">
      </br>
      <label>Items:</label>
      <input class="form-control" type="text"
      ng-model="newRepairItem" >
      <button  class="btn btn-info" ng-click="addItem(newRepairItem,
          newRepairItems)">Add Items</button>
      </br>
      <button ng-repeat="item in newRepairItems" class="btn btn-success btn-sm"
          type="button" ng-click="removeItem(item,
          newRepairItems)">{{item}}</button>
      </br>
      </br>
      </br>
      <button  class="btn btn-info" ng-click="addRepair()">Add Category</button><span class="errorText">{{addRepairError.text}}</span>
  </div>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <td>Repair Categories:</td>
      <td>Actions:</td>
    </thead>
    <tr ng-repeat="repair in repairCategories | orderBy:'_id'" ng-include="getRepairTemplate(repair)">
      <script type="text/ng-template" id="displayRepair">
      <td>
        {{repair.name}}
        <ul>
            <li ng-repeat="item in repair.item">
                {{item}}
            </li>
        </ul>
      </td>
      <td>
        <button  class="btn btn-success" ng-click="editRepair(repair)">Edit</button>
        <button  class="btn btn-danger" ng-click="removeRepair(repair._id)">Delete</button>
      </td>
      </script>
      <script type="text/ng-template" id="editRepair">
      <td>
        <input class="form-control" type="text" ng-model="selectedRepair.name"><span class="errorText">{{editRepairError.text}}</span>

        <label>Category Items:</label>
            <input class="form-control" type="text"
            ng-model="selectedEditItem">
            <button class="btn btn-info"
            ng-click="addItem(selectedEditItem,selectedRepairItems)">Add
            Item</button>
            <button ng-repeat="item in selectedRepairItems" class"btn btn-success btn-sm" type="button" ng-click="removeItem(item,selectedRepairItems)">{{item}}</button>
      <td>
        <button  class="btn btn-success" ng-click="updateRepair(repair._id)">Save</button>
      </td>
      </script>
    </tr>
  </table>
</div>
</div>
