<style>
.errorText {color: #D8000C;}
.panel {display: inline-block; width: 50%; vertical-align: top; padding: 10px}
</style>
<div  ng-controller="gardenCropsController">
<div>
  <div class="panel">
      <label class="item item-input">
          <input type="text" placeholder="Crop Name" ng-model="newCrop">
      </label>
      <label class="item item-input">
          <textarea placeholder="Note" ng-model="newCropNote" ></textarea>
      </label>
      <button type="button button-calm" ng-click="addNote(newCropNote, newCropNotes)">
	Add Notes</button>
  </div>
      <ul class="list">
          <li class="item" ng-repeat="note in newCropNotes">
              <text>{{note}}</text>
          <button class="button"
              type="button" ng-click="removeNote(note,
              newCropNotes)">Remove</button>
          </li>
      </ul>
      <button  class="button button-calm" ng-click="addCrop()">Save Crop</button><span class="errorText">{{addCropError.text}}</span>
  </div>
  </br>

  <ion-list>
    <ion-item>Crop List</ion-item>
    <ion-item ng-repeat="crop in gardenCrops | orderBy:'_id'"
    ng-include="getCropTemplate(crop)">
        <script type="text/ng-template" id="editCrop">
        <ul class="list">
            <li class="item">
                <label>Crop:</label>
                <input type="text" ng-model="selectedGardenCrop.name">
            </li>
            <li class="item">
                <label>Notes:</label>
                <input type="text" ng-model="selectedEditNote">
                <button ng-click="addNote(selectedEditNote, selectedCropNotes)">
                Add Note</button>
                <span ng-repeat="note in selectedCropNotes">
                <text>{{note}}</text>
                <button type="button"
                ng-click="removeNote(note,selectedCropNotes)">{{note}}</button>
                </span>
            </li>
            <li><button ng-click="updateCrop(crop._id)">Edit</button></li>
        </ul>
        </script>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item ng-repeat="crop in gardenCrops | orderBy:'_id'"
    ng-include="getCropTemplate(crop)">
        <script type="text/ng-template" id="displayCrop">
        <ul class="list">
            <li class="item">{{crop.name}}</li>
            <li class="item">
                <ul>
                    <li ng-repeat="note in crop.notes">{{note}}</li>
                </ul>
            </li>
            <li><button class="button button-positive"
            ng-click="editCrop(crop)">Edit</button>
            <button class="button button-assertive"
            ng-click="removeCrop(crop._id)">Delete</button></li>
        </ul>
        </script>
    </ion-item>
  </ion-list>

  <!--ion-list>
    <ion-item ng-repeat="crop in gardenCrops | orderBy:'_id'"
    ng-include="getCropTemplate(crop)">
        <script type="text/ng-template" id="editCrop">
        <ul>
            <li>
                <label>Crop:</label>
                <input type="text" ng-model="selectedGardenCrop.name">
            </li>
            <li>
                <label>Notes:</label>
                <input type="text" ng-model="selectedEditNote">
                <button ng-click="addNote(selectedEditNote, selectedCropNotes)">
                Add Note</button>
                <span ng-repeat="note in selectedCropNotes">
                <button type="button"
                ng-click="removeNote(note,selectedCropNotes)">{{note}}</button>
                </span>
            </li>
            <li><button ng-click="updateCrop(crop._id)">Save</button></li>
        </ul>
        </script>
    </ion-item>
  </ion-list-->


    <!--script type="text/ng-template" id="edit">
      <td>
        <input class="form-control" type="text" ng-model="selectedCrop.name"><span class="errorText">{{editCropError.text}}</span>

        <label>Crop Notes:</label>
            <input class="form-control" type="text"
            ng-model="selectedEditNote">
            <button class="btn btn-info"
            ng-click="addNote(selectedEditNote,selectedCropNotes)">Add
            Note</button>
            <button ng-repeat="note in selectedCropNotes" class"btn btn-success btn-sm" type="button" ng-click="removeNote(note,selectedCropNotes)">{{note}}</button>
      <td>
        <button  class="btn btn-success" ng-click="updateCrop(crop._id)">Save</button>
    </script-->
</div>
</div>
