<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' *"/>
    <allow-navigation href="http://*/*" />
  <!-- load angular and angular route via CDN -->
  <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="js/main.js"></script>
  <script src="cordova.js"></script>
</head>
<body ng-app="cscApp">
    <!-- HEADER AND NAVBAR -->
    <header>
        <div class="bar bar-header bar-balanced">
          <h1 class="title">Garden Plotter</h1>
          <!--button class="button button-calm" ng-hide="showAddPanel"
              ng-click="showAddPanel = true">+</button>
          <button class="button button-royal" ng-hide="!showAddPanel"
              ng-click="showAddPanel = false">Cancel</button-->
        </div>
    </header>
    </br>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <!--body ng-controller="mainController"-->
      <ion-content class="has-header">
          <div ng-view></div>
      </ion-content>

     <div class="tabs">
        <a class="tab-item tabs-stable" href="#/"></i>Gardens</a>
        <a class="tab-item tabs-stable" href="#gardenCrops">Crops</a>
        <a class="tab-item tabs-stable" href=""
            ng-controller="logoutController" ng-click="logoutUser()">Log out</a>
    </div>

</body>
</html>
